numpy
torch
torchaudio
tqdm
submitit
huggingface_hub
rich
safetensors
soundfile
datasets
librosa
resampy
scipy
pesq
pystoi
onnxruntime
fastdtw
gammatone
pysptk
pyworld
pandas
matplotlib
xls-r-sqa
museval
